$blue:#4169E1;
.form-group sup {
    color:#ff6600;
  }
  .contact-feedback {
    display: flex;
    flex-direction: column;
    .banner-image {
      height:90%;
      position: relative;
    }
  }
  .zommer-submit {
    background-color:$blue;
  }
  .controls-msg {
    display: flex;
    justify-content: space-between;
    .contact-msg {
      display: flex;
      align-items: center;
      font-size: 16px;
      padding:12px;
      font-style: italic;
      color:$blue;
    }
  }