<div class="container">
  <div class="row">
    <div class="col-md-6 col-sm-12 contact">
      <form class="contact-form" (submit)="onSubmit($event)">
        <input-field label="Name">
          <input
            type="text"
            class="form-control"
            id="name"
            [formField]="contactForm.name"
            aria-describedby="nameHelp"
            [class.invalid]="
              contactForm.name().invalid() && contactForm.name().touched()
            "
          />
        </input-field>
        <input-field label="email">
          <input
            type="email"
            class="form-control"
            id="email"
            [formField]="contactForm.email"
            aria-describedby="emailHelp"
            [class.invalid]="
              contactForm.email().invalid() && contactForm.email().touched()
            "
          />
        </input-field>
        <input-field label="phone">
          <input
            type="text"
            class="form-control"
            id="phone"
            [formField]="contactForm.phone"
            aria-describedby="phoneHelp"
          />
        </input-field>
        <input-field label="message">
          <textarea
            class="form-control"
            id="textarea1"
            rows="3"
            [formField]="contactForm.message"
          ></textarea>
        </input-field>
        <div class="controls-msg">
          <button
            type="submit"
            class="btn btn-primary zommer-submit"
            [disabled]="contactForm().invalid()"
          >
            Submit
          </button>
          @if (contactForm().submitting()) {
            <span>Please wait</span>
          }
          <div class="contact-msg">
            <span>{{ userMsg() }}</span>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6 col-sm-12 contact-feedback">
      <div class="map-banner">
        <app-mapbox></app-mapbox>
      </div>
    </div>
    <!-- row  -->
  </div>
  <div class="row">
    <div class="col-md-6 col-sm-12"></div>
    <div class="col-md-6 col-sm-12">
      <div class="contact-details">
        <h2>{{ slogan }}</h2>
        <div>
          <h3>Phone</h3>
          <span>{{ phoneNumber }}</span>
        </div>
        <div>
          <h3>Enquiries</h3>
          <span>{{ email }}</span>
        </div>
        <div>
          <h3>Address</h3>
          <span>{{ address }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
